@import url('https://fonts.cdnfonts.com/css/ratherlafia-forghive');
html, body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to bottom right, 
  rgb(47, 96, 45),
  rgb(49, 97, 47),
  rgb(51, 98, 49),
  rgb(53, 100, 51),
  rgb(55, 102, 53),
  rgb(57, 103, 55),
  rgb(59, 105, 57),
  rgb(61, 107, 59),
  rgb(63, 109, 61),
  rgb(65, 110, 63),
  rgb(67, 112, 65),
  rgb(69, 114, 67)
  );
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.lead { font-family: 'Ratherlafia Forghive'; }
.header-bar {
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 50px;
  border: 10px solid transparent;
  border-top: 10px solid #fffa;
  border-left: 10px solid #fffa;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30%;
  height: 49px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fffa;
  border-right: 10px solid #fffa;
  transition: 0.3s linear all;
}


.header-bar > .logo {
  position: absolute;
  top: calc(50% - 20px);
  left: 10px;
  transform: translateY(-50%);
  color: #fffc;
  font-family: 'Ratherlafia Forghive', sans-serif;
  cursor: default;
  user-select: none;
}
.slider-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.slider-menu > li {
  display: inline-flex;
  padding: 14px;
  margin-left: 2px;
  font-family: 'Ratherlafia Forghive', sans-serif;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear all;
  user-select: none;
}
.slider-menu > li:hover {
  color: #faa;
  box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  line-height: 30px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Ratherlafia Forghive"; }
.aeu-signature > img { height: 30px; }